/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  --textblack: hwb(0 25% 75%);
  --textgreen: rgb(4, 63, 49);
  --textwhite: rgb(255, 255, 255);
  --bg: rgb(242, 239, 226);
  --bgsection: rgb(32, 51, 47);
  --maxwidth: 1500px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--textblack);
  background-color: var(--bg);
  /* overflow-x: hidden; */
}

span {
  font-weight: 700;
}

h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space:nowrap
}

li {
  padding-right: 20px;
  display: inline-block;
}

li:last-of-type {
  padding-right: 0px;
}

#site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}

header>nav {
  color: var(--textwhite);
  background-color: var(--bgsection);
}

header>nav>div>ul {
  justify-content: space-around;
}

header div,
header>nav>div {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

header>div>ul {
  font-weight: 100;
}

header>div>ul>li:first-of-type {
  display: none;
}

header>div>ul>li:last-of-type {
  display: none;
}

header>nav>div>ul {
  font-weight: 400;
  font-size: 120%;
  text-transform: uppercase;
}

header>nav>div>ul>li>img {
  width: 150px;
}

main {
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
}

#picture-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 95%;
  max-width: var(--maxwidth);
  height: calc(100vh - 260px);
  row-gap: 10px;
  column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

#picture-grid div {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#picture-grid div:nth-of-type(6) {
  grid-column-start: 2;
  grid-column-end: 4;
  background-position: bottom;
}

#picture-grid div:nth-of-type(1) {
  background-image: url("../img/garden-1.png");
}

#picture-grid div:nth-of-type(2) {
  background-image: url("../img/garden-2.png");
}

#picture-grid div:nth-of-type(3) {
  background-image: url("../img/garden-3.png");
}

#picture-grid div:nth-of-type(4) {
  background-image: url("../img/garden-4.png");
}

#picture-grid div:nth-of-type(5) {
  background-image: url("../img/garden-5.png");
}

#picture-grid div:nth-of-type(6) {
  background-image: url("../img/garden-9.png");
}

#picture-grid div:nth-of-type(7) {
  background-image: url("../img/garden-6.png");
}

#picture-grid div:nth-of-type(8) {
  background-image: url("../img/garden-8.png");
}

#picture-grid div:nth-of-type(9) {
  background-image: url("../img/garden-7.png");
}

#picture-grid div:nth-of-type(10) {
  background-image: url("../img/garden-10.png");
}

#picture-grid div:nth-of-type(11) {
  background-image: url("../img/garden-11.png");
}

#picture-grid div:nth-of-type(12) {
  background-image: url("../img/garden-1.png");
}

#counter {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(32, 51, 47, 0.8) 100%, rgba(32, 51, 47, 0)), url('../img/section-bg.jpg');
  height: 20vh;
  color: var(--textwhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#counter>div:first-child {
  max-width: var(--maxwidth);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

#counter>div>span {
  border-right: 1px solid white;
}

#counter>div>section {
  text-align: center;
  padding: 30px 50px;
}

#counter>div>section:last-of-type {
  padding-right: 0px;
}

#counter>div>section:first-of-type {
  padding-left: 0px;
}

#counter>div>section>h2 {
  font-family: 'Oswald', 'Roboto', sans-serif;
  font-size: 4.25em;
  font-weight: 300;
}

#counter>div>section>p {
  font-weight: 100;
  font-size: 1.25em;
}

#about-us {
  max-width: var(--maxwidth);
  padding-right: 1%;
  padding-left: 1%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "header header"
    "about aside";
}

#about-us>header {
  grid-area: header;
  align-self: center;
  text-align: center;
  padding-top: 30px;
  color: var(--textgreen);
}

#about-us>header>h1 {
  font-size: 6em;
  text-shadow: 2px 2px 0px rgba(149, 149, 149, 0.637);
}

#about-us>header>h1>span:nth-of-type(1) {
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  font-size: 95%;
  font-weight: 300;
  letter-spacing: -.04em;
}

#about-us>header>h1>span:nth-of-type(2) {
  font-family: 'Yellowtail', sans-serif;
  padding-right: .1em;
  font-size: 105%;
  font-weight: 300;
}

#about-us>header>h1>span:nth-of-type(3) {
  font-weight: 300;
  letter-spacing: -.06em;
  font-size: 95%;
}

#about-us>header>p {
  font-size: 1.75em;
  font-weight: 100;
  margin-bottom: 60px;
}

#about-us>header>p>span {
  font-weight: 600;
}

#about-us>article {
  grid-area: about;
  font-size: 1.55em;
  font-weight: 100;
  padding-right: 10px;
}

#about-us>article>h2 {
  font-size: 1.55em;
  color: var(--textgreen);
}

#about-us>article>p {
  color: rgb(0, 0, 0);
  line-height: 1.5em;
}


#about-us>article>p:first-of-type {
  margin-top: 10px;
}

#about-us>aside {
  grid-area: aside;
}

#about-us>aside>div {
  background-color: rgba(179, 192, 184, 0.15);
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.15), inset 0px 0px 30px rgba(51, 51, 51, 0.1);
  padding: 25px 20px 25px 60px;
  margin-bottom: 30px;
  border-radius: 45px;
  border: 5px solid var(--bg);
  position: relative;
}

#about-us>aside>div>h3 {
  color: var(--textgreen);
  font-weight: 300;
  font-size: 1.75em;
}

#about-us>aside>div>p {
  font-weight: 300;
  font-size: 1.05em;
  line-height: 1.6em;
}

#about-us>aside>div>div {
  position: absolute;
  left: -50px;
  top: 40px;
  width: 85px;
  height: 85px;
  background-image: url('../img/wheelbarrel.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(24, 55, 22);
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.15);
  border-radius: 100px;
  border: 5px solid var(--bg);
}

#services {
  max-width: var(--maxwidth);
  margin-right: auto;
  margin-left: auto;
}

#services>section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#services>section:nth-of-type(2){
  justify-content: center;
}

#services>header,
#services>section:nth-of-type(2) {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 5em;
}

#services>header>h2,
#services>section:nth-of-type(2)>h2 {
  font-size: 2.5em;
  color: var(--textgreen);
}

#services>section:nth-of-type(2)>h2 {
  font-weight: 100;
}

#services>header>p,
#services>section:nth-of-type(2)>p {
  font-size: 1.5em;
  color: var(--textblack);
  font-weight: 100;
}

#services>section>article {
  width: 33%;
  flex-basis: 400px;
  text-align: center;
  margin-bottom: 50px;
}

#services>section>article>h3 {
  color: var(--textgreen);
  font-size: 1.55em;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 10px;
}

#services>section>article>p {
  font-weight: 300;
}

#services>section>article>img {
  width: 100%;
}

#call-to-action {
  background-color: var(--bgsection);
  display: flex;
  align-content: center;
}

#call-to-action>div {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
  background-image: url('../img/shovel-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#call-to-action>div>section {
  width: 45%;
}

#call-to-action>div>section>h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.3em;
}

#call-to-action>div>section>h2>span {
  color: rgb(255, 225, 0)
}

#call-to-action>div>section>p {
  color: #fff;
  margin-top: 50px;
  font-size: 1.25em;
  font-weight: 100;
}

#call-to-action>div>aside {
  width: 50%;
  align-self: center;
  text-align: center;
}

#call-to-action>div>aside>form>div>button,
footer>div>div>div>form>div>button {
  background-color: var(--bgsection);
  border: 1px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  width: 100%;
  max-width: 500px;
  padding: 15px 0px 15px 0px;

}

#call-to-action>div>aside>form>div>#name,
#call-to-action>div>aside>form>div>#pnumber,
footer>div>div>div>form>div>#email {
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

#call-to-action>div>aside>p {
  color: #fff;
  font-weight: 100;
}



#reviews>div>div>div>i {
  font-size: 13em;
  color: var(--textgreen);
}

#reviews>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 140px;
}

#reviews>header {
  text-align: center;
  margin-top: 50px;
}

#reviews>header>h2 {
  font-size: 3em;
  color: var(--textgreen);
  font-weight: 100;
}

#reviews>header>p {
  font-size: 1.5em;
  color: var(--textblack);
  font-weight: 100;
}

#reviews>div>div>article {
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.15);
  text-align: center;
  border-radius: 25px;
  padding: 0px 30px 00px 30px;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--bg);
  margin-right: 30px;
  flex: 0 0 300px;
  position: relative;
  margin-top: 50px;
}

#reviews>div>div>article>div {
  width: 110px;
  height: 110px;
  position: relative;
  margin-top: -50px;
  align-self: center;
  background-image: url('../img/customer-1.jpg');
  background-size: cover;
  background-position: center center;
  border-radius: 100px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
  border: 5px solid var(--bg);
}

#reviews>div>div>article>p {
  font-size: 1.15em;
  font-weight: 100;
}

#reviews>div>div>article>p>span {
  font-size: .7em;
}

#reviews>div>div>article>ul {
  list-style: none;
  padding: 0px;
  width: 100%;
}

#reviews>div>div>article>ul>li {
  display: inline;
  color: var(--textgreen);
  list-style-position: outside;
}

footer {
  background-color: var(--bgsection);
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

footer>div {
  max-width: var(--maxwidth);
}

footer>div>div{
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(3, auto);
}

footer>div>div>div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

footer>div>div>div:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

footer>div>div>div:nth-child(3){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 50px;
}

footer>div>div>div>img{
  width: 180px;
  margin-bottom: 20px;
}

footer>div>div>div>nav>ul {
  color: #fff;
  font-size: 1.25em;
}

footer>div>div>div>nav>ul>li {
  text-transform: uppercase;
}


footer>div>div>div>h4 {
  color: #fff;
  margin-bottom: 10px;
}

footer>div>div>div>p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 10px;
}

footer>div>div>div:last-of-type {
  grid-column-start: 1;
  grid-column-end: -1;
}

footer>div>div>div:last-of-type>p {
  font-size: 1em;
} 

footer>div>div>div>form>div>#email,
footer>div>div>div>form>div>button {
  max-width: 300px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}